@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
body {
  background-size: 40px 40px;
  background-color: #EEEBD3;
  background-image:
    linear-gradient(to right, #FEFAE0 1px, transparent 1px),
    linear-gradient(to bottom, #FEFAE0 1px, transparent 1px);
  font-family: 'Raleway';
  color: #46351D;
  /* margin: 0; */
  margin-top: 0;
  margin-left: 0;
  text-align: left;
  font-size: 20px;
}

html {
  min-height:100%;
  position:relative;
}

nav {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  background-color: #646F4B;
  padding: 2%;
  /* border-radius: 10px; */
  width:100%;
  margin: auto;
}

.nav-links {
  padding: 1%;
  margin-left: 2%;
  margin-right: 2%;
  list-style: none;
}
a {
  color: #FEFAE0;
  text-decoration: none;
}

a:hover {
  color: #CAD593; 
  border-radius: 5px;
}

footer {
  position: relative;
  
  padding: 2%;
  margin: 30px;
  border: 30px;
  display: flex;
  font-style:initial;

  text-align: center;
  justify-content: center;
  align-items: center;
}

.foot-links {
  color: rgb(168, 180, 109);
  border-radius: 5px;
  padding: 2%;
  margin: 30px;
  border: 30px;
}

.foot-links:hover {
  color: rgb(72, 83, 8); 
  border-radius: 5px;
}

container{
  /* display: flex;
  align-items: flex-end;
  justify-content: space-evenly; */
  left: 13px;
  top: 20px;
  padding: 15px;
  margin: 15px;
  position: relative;
  margin-left: 30px;
  margin-right: 30px;
}

p {
  font-size: 20px;
  color: #46351D;
  margin-left: 30px;
  margin-right: 30px;
}
li {
  font-size: 20px;
  margin-left: 30px;
  margin-right: 30px;
}
h1{
  color: #646F4B;
  text-align: center;
}